:root{
    --color_Section1:#FEFCFB;
    --txt_color:#222222;
    --btn_txt:#FA7436;
    --txt_theme:#FA7436;
    --content_side:#666666;
    --color_Section2:#F7F8FC;
    --discount_highlight:#FFE7DB;


}
html,body{
    margin:0px;
    border:0px;
    
}
body{
    
    font-family: "Poppins", serif;
    color: var(--txt_color);
}
h1,h2,h3,h4,h5,h6,p{
    margin:0px;
}

.flex{
    display:flex;
}
.flex_column{
    flex-direction:column;
}
align_space_between{
    align-content: space-between;
}
.justify_center{
    justify-content: center;
}
.align_center{
    align-items: center;
}
.space_between{
    justify-content: space-between;
}
.space_evenly{
    justify-content: space-evenly;
}
.space_around{
    justify-content: space-around;
}
.flex_end{
    justify-content: flex-end;
}
 .col_gap{
    column-gap: 10px;
}
.col-gap50{
    column-gap: 50px;
}
.col_gap20{
    column-gap: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-10{
    margin-bottom: 10px;
}
.volkhov_font{
    font-family:"Volkhov", serif;
}
li{
    list-style-type: none;
}  
span{
    color:var(--txt_theme);
} 
.row_gap{
    row-gap: 10px;
}
.text_center{
    text-align: center;
}
.text_left{
    text-align: left;
}
.line_through{
    text-decoration: line-through;
}
@media only screen and (max-width:768px){
    .first_section{
        padding: 0 20px;
    }
    .Menu_bar{
        display:flex;
        flex-direction: column;
    }
    .navs{
        padding:0px;
        position:absolute;
        left:25%;
        top:60px;
    }
    .nav_buttons{
        display:flex;
        justify-content: center;
    }
    .col{
        margin-right: 10px;   
    }
    .login_details{
        position:absolute;
        right:0px;
        top:30px;
    }
    .container{
        column-gap: 10px;

    }
    .head_txt{
        font-size: 8px;
    }
    .sub_txt{
        font-size: 4px;
    }
}

.first_section{
    background-color: var(--color_Section1);
    padding:0 200px;
}
.btn_white{
    border:0px;
    color:var(--btn_txt);
    background-color: var(--color_Section1);
    width:160px;
    height:45px;
    border-radius:5px;
    font-weight: bold;font-size: 16px;
}
.btn_orange{
    border:0px;
    background-color:var(--btn_txt);
    color:white;
    width:160px;
    height:45px;
    border-radius:5px;
    font-weight: bold;font-size: 16px;
}

.Menu_bar{
    padding:30px 0px;
    width:100%;
    >.Logo{
        width:30%;
        >h4{
            font-size:30px;
            text-shadow: 1px 6px 4.5px grey;
        }
        >img{
            
        width: 30px;
        height: 30px;
        }
    }
    >.navs{
        width:35%;
    }
    >.login_details{
        width:35%;

        
    }
}
.container{
    width:100%;
    /* padding-left:50px; */
    >.left_container{
        width:50%;
        >h1{
            text-shadow: 0.5px 0.5px 2.5px grey;
            font-size: 64px;
            
        }
        >p{
            font-weight:500;
            font-size: 22px;
            color:var(--content_side);
        }
        >.btn1{
            border:2px solid var(--txt_theme);
            color:var(--btn_txt);
            background-color: white;
            font-size: 18px;
            height:45px;width:160px;
            border-radius:5px;
            
        }
    }
    >.right_container{
        >.main_image{
            width:100%;
            position:relative;
            >.person{
                >img{
                    width:100%;
                    height:auto;
                }
                
            }
            >.position_relative1{
                position:absolute;
                top:50px;
                left:-120px;
            }
            >.position_relative2{
                position:absolute;
                right:0px;
                
            }
            >.position_relative3{
                position:absolute;
                top:250px;
                left:0px;
            }
       
        }
        
    }
}
.details_box{
    
    display:flex;
    justify-content: center;
    >.details{
        width:800px;
        height:150px; 
        background-color:white;
        column-gap: 80px;
        >.data{
            >p{
                font-size: 12px;
            }
            >select{
                border:none;
                background-color: var(--color_Section1);
                font-size: 16px;
                
            }
        }
        >button{
            border:0px;
                background-color:var(--txt_theme);
                color:white;
                width:160px;
                height:45px;
                border-radius:5px;
        }
        
    }
}

/* Second section*/
.second_section{
    background-color: var(--color_Section2);
    padding:100px 200px;
}
.Effect{
    position:relative;
    >img{
        position:absolute;
        right:-2%;
        top:-15px;
    }
}
.heading{
    /* width:545px;
    margin:auto;
         */
    >h1{
        font-weight: bold;
        font-size:48px;
        /* text-align: center; */
    }
    >p{
        /* text-align: center; */
        font-size: 18px;
        color: var(--content_side);
        
    }
}
.boxes{
    width: 300px;
    height: 200px;
    background-color: white;
    padding:40px;
    position:relative;z-index:0;
    >.effect_second_sec{
        position: absolute;
        left:0px;
        top:0px;
        width:100%;
        height:auto;
        z-index:-1;
    }
    >img{

        width:15%;
        height:auto;
        margin-bottom: 40px;;
    }
    >.content2{
        font-size:16px;
        color:var(--content_side);
    }
    >.sub_heading{
        color:#222222;
        font-size:18px;
        font-weight: 600;
        margin-bottom: 20px;
    }

}
.boxes:hover{
    top:-25px;
}

/* Third Section & Fourth Section*/
.third_section,.fourth_section{
    background-color: var(--color_Section1);
    padding:100px 200px;
}
div.place_img:hover img{
    opacity:0.5;
}
.place_img{
    >img{
        border-radius: 25px;
        width:100%;
        height:auto;
        
    }
}  
.description{
    padding:0px 10px;
}
.description2{
    padding:0px 10px;
}
.container3{
    >.deals_details{
        width:250px;
        height:390px;
        background-color: #FFFFFF;
        border-radius: 25px;
    }
}
.container4{
    position:relative;
    >img{
        position:absolute;
        right:70px;
        top:-15px;
    }
}
.highlight_orange{
    background-color:var(--discount_highlight) ;
    color:var(--txt_theme);
    border-radius: 5px;
    padding:0px 5px;
}
.vacation_places{
    
    >.package_details{
        width:300px;
        height:390px;
        background-color:#FFFFFF;
        border-radius: 25px;
}
}
/* Fifth Section */
.fifth_section{
    background-color: var(--color_Section2);
    padding:100px 200px;
}
.author{
    font-weight:bold;
    color:#222222;
    margin-bottom: 5px;
  }
.container5{
    width:100%;
    >.left_container5{
        width:50%;
     
    }
    
    >.right_container5{
        width:50%;
        >.About{
            padding:30px;
            position: relative;z-index:0;
            width:380px;
            height:150px;
            background-color: #FFFFFF;
            color:#444444;
            font-size:16px;
            /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
            /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
           
            >.author_image{
              width:50px;
            height:auto;
            position:absolute;
            top:-25px;
            left:-25px;
            }
            
            
            >.effect{
                right: -150px;
                position: absolute;
                top: -65px;
                width: 150px;
                height: 150px;
            }
          }
    }
}
.CEO_det {
    display:flex;
      flex-direction: column;
      justify-content: flex-end;
      padding:30px;
      z-index:-1;
      width:380px;
      height:100px;
      background-color:#F7F8FC;
      color:#444444;
      font-size:16px;
      position:absolute;
      bottom:-80px;
      /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
      /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* Sixth Section */
.sixth_section{
    padding:100px 200px;
    background-color: var(--color_Section1);
}
.blog_details{
    width:225px;
    height:350px;
    background-color: #FFFFFF;
}
.blog_style{
    color:#222222;
    font-size:16px;
    font-weight: 500;
}
.blog_style2{
    color:#999999;
    font-size:14px;
}
/* Seventh Section */
.seventh_section{
    padding:20px 200px;
    background-color: var(--color_Section1);
    >.feedback{
        width:950px;
        height:390px;
        margin:auto;
        padding:0 20px;
        background-color: var(--txt_theme);
        border-radius: 20px;
        color: white;
        position: relative;z-index:0;
        >.effect1{
            position:absolute;
            right:5px;
            top:5px;
        }
        >.effect2{
            position: absolute;
            bottom:-5px;
            left:1px;
            z-index: -1;
        }
        >.input{
            
            padding: 0 10px;
            width:500px;
            height:55px;
            background-color: white;
            color:var(--content_side);
            border-radius: 12px;
            >.mail{
                >img{
                    width:10%;
                    height:40%;
                }
                >input{
                    border: none;
                }
                    
                }
            }
        }
    }
.btn_social{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: white;
    
    
}
.btn_social_orange{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color:var(--txt_theme);
}
.text_style{
    font-size:16px;
    color:var(--content_side);
}
.text_style24{
    font-size: 24px;
    color:#222222;
}
hr{
    color:#999999;
}
.list{
    >ul{
        list-style-type: none;
        padding:0px;
        margin:0px;
    }
    >li{
        margin-bottom: 10px;
    }
    >p{
        font-weight: bold;
        font-size: 18px;
        color: var(--txt_color);
    }
}
.info{
    width:100%;
    >.left_items{
        width:40%;
    }
    >.more_info{
        width:60%;
    }
}

    .content{
            width:180px;
            height:70px;
            column-gap: 10px;
            background-color: white;
            /* position: relative; */
            >img{
                width:25%;
                height:auto;
            }
            >.heading1{
                font-size: 16px;
                color:#444444;
            }
            >.sub_heading{
                color:var(--content_side);
            }
            /* >.content{
                font-size: 10px;
                color:var(--content_side);
                font-weight:500;
                
            } */

        
        >.position_relative1{
                position: absolute;
                top: 85px;
                left: -85px;
        }
        >.position_relative2{
            position:absolute;
            right:200px;top:30px;
        }
        >.position_relative3{
            position:absolute;
            bottom:500px;right:250px;
        }
        
    }

/* MEDIA QUERIES */

    /* Hover - overlay book now
    .book{
        width:150px;
        height:100px;
        background-color: orangered;
        color: white;
        padding:10px;
        font-size: 16px;
    }
    .middle{
        opacity:0;
        position: absolute;
        top:75%;
        left:50%;
    }
    .text{
        opacity:1;
    }
    .place_img:hover .text{
        opacity:0.3;
    }
    .place_img:hover .middle{
        opacity:1;
    } */