:root{
    --BG_COLOR:#F4ECE1;
}
html,body{
    margin:0px;
    padding:0px;

}
h1,h2,h3,h4,h5,h6,p{
    margin:0px;
}
body{
    background-color: var(--BG_COLOR);
    padding:0 100px;
    font-family: "Poppins", sans-serif;
}
.flex{
    display:flex;
}
.flex_column{
    flex-direction: column;
}
.justify_center{
    justify-content: center;
}
a{
    text-decoration: none important;
}
.branding_section{
    width:30%;
    column-gap: 10px;
    >img{
        width:35px;
    }
    >p{
        font-size: 1.2rem;
    }
}
.navigation_Section{
    width:70%;
    >.navs{
        width:70%;
        >ul{
            width:30%;
            list-style-type: none;
            column-gap:30px;
            }
    }
    >.search{
        width:30%;
    }
}
.Hero_section{
    width:100%;
    >.content_section{
        width:50%;

    }
    >.image_section{
        width:50%;
    }
}